*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: 'Archivo', sans-serif;
  font-weight: 700;
}


.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

a {
  text-decoration: none;
  color: white;
}
