
[class^=col-] {

  @include atSmall {
    float: left;
    padding: 0 0.25em;

    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
    }
  }
}

.col-3 {

  width: 100%;

  @include atSmall {
    width: 25%;

  }

}


.col-4 {
  width: 100%;

  @include atSmall {
    width: 33.3%;

  }

}

.col-6 {
  width: 100%;

  @include atSmall {
    width: 50%;

  }

}
