.gallery {
  // height: 600px;
  width: 100%;
  background-color: $dark-blue;
  color: white;

  &__residential {
  }

}

.main {
  // margin: 2rem 2rem;
  width: 80%;
margin: 0 auto;
}

.slider-display {

}


.photo {
  max-height: 400px;
  width: auto;
  display:block;
  margin:0 auto;
}

.nav {
  background: #fff;
  padding: 2%;
  height: 80px;
  width: auto;
  margin: 10px;
}
