.reviews {

  &--section {
    background-color: $light-blue;
    color: white;
    width: 100%;

    padding: 1rem 1.1rem;
    text-align: center;

    @include atLarge {
      padding: 2rem 7rem;

    }

    q {
      font-size: 30px;
      font-weight: 300;

      &:before,
      &:after {
          content: "";
      }
    }


  }
  
  &--main {
    color: white;
    text-align: center;
    background-color: $light-blue;
    display: inline-block;
    padding: 0.75rem;

    @include atMedium {
      padding: 2em 5em 2em 5em;

    }
    
    h3 {
      // grid-column: span 2;
    }
    
    .single-review {
      margin: 2em;
    }
    
    q {
      font-size: 25px;
      font-weight: 300;
      padding: 2em;
      
      &:before, &:after {
        content: "";
      }
    }
    
    cite {
      font-size: 20px;
      
    }
  }
  
}

.google-reviews-link {
  width: fit-content;
  margin: 0 auto;
  padding: 1rem 0;

  a {
    font-size: 1.5rem;
  }
}