.reviews {

  &--section {
    background-color: $light-blue;
    color: white;
    width: 100%;

    padding: 1rem 1.1rem;
    text-align: center;

    @include atLarge {
      padding: 2rem 7rem;

    }

    q {
      font-size: 30px;
      font-weight: 300;
    }
  }

  &--main {
    color: white;
    text-align: center;
    background-color: $light-blue;
    display: flex;
    padding: 2em 5em 2em 5em;

    h3 {
      // grid-column: span 2;
    }

    .single-review {
      margin: 2em;
    }

    q {
      font-size: 25px;
      font-weight: 300;
      padding: 2em;
    }

    cite {
      font-size: 20px;

    }
  }

}
