.text {

  &--ul {
    text-decoration: underline;
  }

  &--em {
    font-style: italic;
  }

  &--bold {
    font-weight: 600;
  }
}

.unstyled-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
