.underline--feature {
  margin: 1em 0;
  display: block;
  height: 2px;
  background: black;
  position: relative;
  transform: scale(0,1);
  transform-origin: left;
  transition: transform ease-in-out 500ms;
}

.underline {
  font-size: 30px;
  // margin-bottom: 2rem;
  display: block;
  height: 5px;
  background: black;
  transform: scale(0,1);

  &--white {
    background: white;
  }
}

.show-underline {
  transform: scale(1,1);
  transform-origin: left;
  transition: transform ease-in-out 500ms;
}
